absl-py==2.1.0
aiohttp==3.9.1
aiosignal==1.3.1
alembic==1.13.1
amqp==5.2.0
anyio==4.2.0
apache-airflow==2.8.1
apache-airflow-providers-celery==3.5.1
apache-airflow-providers-ftp==3.7.0
apache-airflow-providers-http==4.8.0
apache-airflow-providers-imap==3.5.0
apache-airflow-providers-sqlite==3.7.0
apispec==6.4.0
appdirs==1.4.4
appnope==0.1.4
argcomplete==3.2.1
asgiref==3.7.2
asttokens==2.4.1
astunparse==1.6.3
attrs==23.2.0
Babel==2.14.0
backoff==2.2.1
beartype==0.17.2
beautifulsoup4==4.12.3
billiard==4.2.0
blinker==1.7.0
boto3==1.34.43
botocore==1.34.43
cachelib==0.9.0
cachetools==5.2.0
celery==5.3.6
certifi==2024.2.2
cffi==1.15.1
charset-normalizer==3.3.2
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
clickclick==20.10.2
cloudpickle==3.0.0
colorama==0.4.6
colorlog==4.8.0
cryptography==41.0.7
cycler==0.11.0
decorator==5.1.1
Deprecated==1.2.14
dill==0.3.1.1
dnspython==2.4.2
docutils==0.20.1
email-validator==1.3.1
executing==2.0.1
filelock==3.13.1
Flask==2.2.5
Flask-Babel==2.0.0
Flask-Caching==2.1.0
Flask-Login==0.6.3
Flask-SQLAlchemy==2.5.1
Flask-WTF==1.2.1
frozenlist==1.4.1
fsspec==2023.12.2
google-auth==2.28.1
google-auth-httplib2==0.2.0
google-auth-oauthlib==0.5.2
google-cloud-core==2.4.1
google-cloud-storage==2.14.0
grpcio==1.60.0
grpcio-status==1.60.1
gunicorn==21.2.0
h11==0.14.0
h5py==3.10.0
httpcore==0.16.3
httpx==0.23.3
humanize==4.9.0
idna==3.6
importlib-metadata==6.11.0
importlib-resources==5.13.0
ipykernel==6.29.2
ipython==8.21.0
itsdangerous==2.1.2
Jinja2==3.1.3
jmespath==1.0.1
joblib==1.3.2
jsonschema==4.20.0
jupyter_client==8.6.0
jupyter_core==5.7.1
keras==3.2.0
Mako==1.3.0
Markdown==3.5.2
MarkupSafe==2.1.5
marshmallow==3.20.2
marshmallow-sqlalchemy==0.26.1
matplotlib==3.9.0
more-itertools==10.2.0
multidict==6.0.5
numba==0.59.1
numpy==1.26.4
oauthlib==3.2.0
openpyxl==3.1.2
packaging==24.0
pandas==2.2.2
pendulum==3.0.0
Pillow==10.2.0
pip==24.0
prompt-toolkit==3.0.43
protobuf==4.25.2
psutil==5.9.7
pyarrow==15.0.2
pyasn1==0.4.8
pycparser==2.21
pydantic==2.5.3
Pygments==2.17.2
PyJWT==2.8.0
PyOpenGL==3.1.1a1
pyOpenSSL==24.1.0
pyparsing==3.1.2
PyPDF2==3.0.1
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
ruamel.yaml==0.18.6
scikit-learn==1.4.2
scipy==1.13.0
seaborn==0.13.1
setproctitle==1.3.3
six==1.16.0
slicer==0.0.8
SQLAlchemy==2.0.30
sqlparse==0.5.0
statsmodels==0.14.2
tenacity==8.3.0
tensorflow==2.16.1
tensorflow-estimator==2.15.0
tensorboard==2.16.2
termcolor==2.4.0
tornado==6.4
tqdm==4.66.4
traitlets==5.14.3
typing_extensions==4.11.0
urllib3==2.2.1
Werkzeug==3.0.3
wrapt==1.16.0
zipp==3.18.2
